# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
CMakeFiles
build
env.sh

gperftools-httpd*
hiredis*
http-parser*
src/extends/small_test/gmock/
src/extends/small_test/gtest/
src/extends/small_test/googletest-master/
src/extends/small_grpc/grpc
*pb.cc
*pb.h
